{% assign software-development = site.data.data.sidebar.software-development %}
{% if software-development %}
<div class="software-development-container container-block">

  <h2 class="container-block-title">
    Software Development
  </h2>

  <ul class="list-unstyled software-development-list">
    {% for interest in software-development %}

    {% if software-development.link %}
    <li><a href="{{ software-development.link }}">{{ software-development.item }}</a></li>
    {% else %}
    <li>{{ software-development.item }}</li>
    {% endif %}

    {% endfor %}
  </ul>

</div>
<!--//software-development-->
{% endif %}